body {
    font-family: sans-serif;
    margin: 20px;
    background-color: #242424;
}

h1{
    color: #ffffff;
}
h4{
    color: #c3c3c3;
}

button{
    border-radius: 23px;
    background-color: #4d4d4d;
    border-color:#91ffed;
    padding: 3%;
    color: #ffffff;
}

button:hover{
    border-radius: 23px;
    background-color: #91ffed;
    border-color:#91ffed;
    padding: 3%;
    color: #4d4d4d;
}

.timeline {
    position: relative;
    max-width: 85%;
    margin: 0 auto;
    background-color: #343434;
    padding: 5%;
    border-radius: 8px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}

.timeline-line {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 50%;
    width: 2px;
    background-color: #3f3f3f;
    transform: translateX(-50%);
}

.timeline-event {
    padding: 3%;
    margin-bottom: 10%;
    position: relative;
    transition: transform 0.3s ease-in-out; /* Añadimos una transición suave */
}

.timeline-event:hover {
    transform: scale(1.05); /* Escalamos el elemento al hacer hover */
}

.timeline-event:nth-child(odd) {
    left: 0;
    text-align: right;
    padding-right: calc(50% + 20px);
}

.timeline-event:nth-child(even) {
    left: 0%;
    text-align: left;
    padding-left: calc(50% + 20px);
}

.timeline-event-content {
    background-color: #4d4d4d;
    padding: 3%;
    border-radius: 6px;
    box-shadow: 0 1px 3px rgba(0, 0, 0, 0.05);
}

.event-date {
    font-size: 0.9em;
    color: #c7c7c7;
    margin-bottom: 5px;
    display: block;
}

.event-title {
    font-weight: bold;
    margin-bottom: 8px;
    color: #ffffff;
}

.event-description {
    font-size: 0.95em;
    color: #c3c3c3;
}

.event-image {
    max-width: 60%;
    height: auto;
    margin-bottom: 10px;
    display: block;
    margin-left: auto;
}

.timeline-event:nth-child(odd) .event-image {
    margin-left: auto;
    margin-right: 0;
}

.timeline-event:nth-child(even) .event-image {
    margin-left: 0;
    margin-right: auto;
}

/* Puntos en la línea */
.timeline-event::before {
    content: '';
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-40%, -50%);
    width: 12px;
    height: 12px;
    background-color: #91ffed;
    border-radius: 50%;
    z-index: 1;
}

.timeline-event:nth-child(odd)::before {
    left: calc(50% - 1px);
}

.timeline-event:nth-child(even)::before {
    left: calc(50% - 1px);
}
ß
.center{
    margin: auto;
    width: 50%;
    padding: 3%;
}

.center-text{
    text-align: center;
}

